* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 62.5%;
    font-family: 'Inter', 'Roboto', sans-serif;
}

.bold{
    font-weight: bold;
}
.grey{
    color: #918E9B;
}

.underline{
    text-decoration: underline;
}


